*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.contenedor-header{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas:
    "img img img img"
    "img img img img"
    ". nav nav .";
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(253,193,104,1) 0%, rgba(251,128,128,1) 90% );
}

.img-logo{
    grid-area: img;
    width: 100%;
    height: 100%;
    }

.barra-navegacion{
    grid-area: nav;
    margin-bottom: 40px;
    width: 100%;
}
.barra-navegacion ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.barra-navegacion ul li a{
    /* margin-left: 15px; */
    text-decoration: none;
    
    font-size: 20px;
    color: rgba(54, 50, 50, 0.877);
}
/* Header con grid y display flex para posicionar */


.foot-cont{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas:
    "derechos h3 habilitado"
    ". imgr .";
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(253,193,104,1) 0%, rgba(251,128,128,1) 90% );
}
.redes-sociales{
    grid-area: h3;
}
.img-redes img{
    width: 25px;
    margin-left: 20px;
}
.img-redes{
    grid-area: imgr;
}
.derechos-reservados{
    grid-area: derechos;
}
.empresa-habilitada{
    grid-area: habilitado;
}
/* Footer realizado */


.promo-imagen img{
    width: 100%;
}
.caja-entera{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    background-image: linear-gradient( 109.6deg,  rgba(15,2,2,1) 11.2%, rgba(36,163,190,1) 91.1% );
}
.caja-entera img{
    width: 400px;
}
.caja-entera div{
    width: 500px;
    border: solid tomato;
    margin: 20px;
    text-align: center;
}
/* index realizado */


.contenedor-main-nosotros{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(7,1fr);
    background-image: linear-gradient( 92.7deg,  rgba(245,212,212,1) 8.5%, rgba(252,251,224,1) 90.2% );
}
.ultimas-aventuras{
    grid-column: 5/9;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
    text-decoration: underline;
}
.contendeor-suspiros img{
    width:100%;
    height: 100%;
}
.contendeor-suspiros{
    grid-column: 2/12;
    grid-row: 3/8;
    margin-bottom: 80px;
}
.encontra-lugar{
    grid-column: 5/9;
    grid-row: 2/4;
    text-align: center;
}
/* ultimas excursiones realizado */

.ser-na{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(8,1fr);
    background-image: linear-gradient( 92.7deg,  rgba(245,212,212,1) 8.5%, rgba(252,251,224,1) 90.2% );
    height: 1000px;
}
.s-nac{
    grid-column: 5/10;
    grid-row: 1/11;
    margin-top: 20px;
    margin-bottom: 20px;
}
.img-na{
    grid-column: 1/4;
    grid-row: 2/4;
    margin: 10px;
}   
.img-nacio1{
    width: 180%;
    height: 140%;
    margin: 5px;
}
.img-cio{
    grid-column: 7/12;
    grid-row: 2/5;
    margin: 10px;
}
.img-nacio2{
    width: 110%;
    height: 92%;
    margin: 5px;
}
/* Servicios Nacionales */


.ser-in{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(8,1fr);
    background-image: linear-gradient( 92.7deg,  rgba(245,212,212,1) 8.5%, rgba(252,251,224,1) 90.2% );
    height: 1000px;
}
.s-int{
    grid-column: 4/10;
    grid-row: 1/11;
    margin: 25px;
}
.img-inter{
    grid-column: 1/4;
    grid-row: 2/5;
    margin: 10px;
}   
.img-inter1{
    width: 180%;
    height: 140%;
    margin: 5px;
}
.img-nacion{
    grid-column: 7/12;
    grid-row: 2/6;
    margin: 10px;
}
.img-inter2{
    width: 110%;
    height: 92%;
    margin: 5px;
}
/* Servicios Internacionales */


.contenedor-formulario{
    padding: 50px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-formulario h2 {
    margin-top: 25px;
}
.formu-centrado{
    text-align: center;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border: 0px;
}
.elemento-de-formulario{
    width: 100%;
}
.caja__linkk{
    margin-left: 35px;
}
.centrar-titulo{
    padding: 20px;
    text-align: center;
}

.centrar-titulo{
    padding: 10px;
    text-align: center;
}
.imag-center{
    width: 100%;
    height: 100%;
    margin: 2px 2px 2px 2px;
    padding: 20px;
}
@media only screen and (max-width:768px){
    .contenedor-header{
        grid-template-columns: 100%;
        grid-template-rows: 70% 30%;
        height: 150px;
    }
    .contenedor-header .navbar{
        grid-row: 2/3;
    }
    .img-logo{
        grid-row: 1/2;
        height: 100%;
        width: 100%;
    }
    .barra-navegacion{
        width: 100%;
        height: 100%;
        grid-column: 1/1;
        grid-row: 2/3;
        font-size: 10px;
        margin: 0px;
    }
    .barra-navegacion nav ul {
        align-items: center;
    }
    .contacto{
        display: none;
    }
    .caja-entera{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat (4,1fr);
    }
    .caja1{
        grid-row: 1/2;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }
    .caja1 img{
        grid-row: 1/2;
        width: 100%;
        max-height: 300px;
    }
    .caja1 p{
        grid-row: 2/3;
    }
    .caja2{
        grid-row: 2/3;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }
    .caja2 img{
        grid-row: 1/2;
        width: 100%;
        max-height: 300px;
    }
    .caja2 p{
        grid-row: 2/3;
    }
    .caja3{
        grid-row: 3/4;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }
    .caja3 img{
        grid-row: 1/2;
        width: 100%;
        max-height: 300px;
    }
    .caja3 p{
        grid-row: 2/3;
    }
    .caja4{
        grid-row: 4/5;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }
    .caja4 img{
        grid-row: 1/2;
        width: 100%;
        max-height: 300px;
    }
    .caja4 p{
        grid-row: 2/3;
    }
    .barra-navegacion ul li{
        display: none;
    }
    .foot-cont{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-areas: "rd rd dc dc eh" 
        ;
    }
    .redes-sociales{
        display: none;
    }
    .img-redes{
        display: flex;
        grid-area: rd;
    }
    .img-redes .immmg{
        width: 12%;
        margin: 5px;
    }
    .derechos-reservados{
        grid-area: dc;
    }
    .todoooos{
        font-size: 10px;
    }
    .empresa-habilitada{
        grid-area: eh;
    }
    .empresa-habilitada .emh{
        font-size: 10px;
    }
    .caja-entera{
        background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,229,168,1) 0%, rgba(251,174,222,1) 100.7% );
    }
}
/* full responsive hasta 768*/