@import "variables";



*{
    margin: map-get($map: $margen, $key: "0%" );
    padding: map-get($map: $margen, $key: "0%" );
    box-sizing: border-box;
}

.contenedor-header{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas:
    "img img img img"
    "img img img img"
    "nav nav nav nav";
    @extend %gradiante-footer-header;
    .logo{
        grid-area: img;
        width: 100%;
    }

    .barra-navegacion{
        grid-area: nav;
        width: 100%;
    }

.barra-navegacion ul{
    display: flex;
    list-style: none;
    margin: 10px 0px;
    padding: 0;
    justify-content: space-evenly;
    align-items: center;
}
.barra-navegacion a{
    text-decoration: none;
    font-size: 16px;
    color: $colores;
    padding: 10px;
    transition: .3s;
}
.barra-navegacion a:hover{    
    background-color: $colores-background;
    color: white;
    border: solid 1px black;
    border-radius: 30px;
    box-shadow: 10px 10px 30px white;
}
}

    .nav-bootstrap{
        display: none;
    
}

/* Header con grid y display flex para posicionar */


.foot-cont{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas:
    "derechos h3 habilitado"
    ". imgr .";
    @extend %gradiante-footer-header
}
    .redes-sociales{
        grid-area: h3;
        text-align: center;
    }
    .img-redes img{
        width: 25px;
        margin-left: 20px;
    }
        .img-redes{
            grid-area: imgr;
            text-align: center;
        }
        .derechos-reservados{
            grid-area: derechos;
            text-align: center;
        }
        .empresa-habilitada{
            grid-area: habilitado;
            text-align: center;
        }
/* Footer realizado */

.promo-imagen img{
    width: map-get($map: $margen, $key: "full" );
}
.caja-entera{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    @extend %main-gradiante;
    .caja-entera img{
        width: 400px;
    }
    .caja-entera div{
        width: 500px;
        border: solid tomato;
        margin: 20px;
        text-align: center;
    }
}
/* index realizado */

.contenedor-main-nosotros{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(7,1fr);
    background-image: linear-gradient( 92.7deg,  rgba(245,212,212,1) 8.5%, rgba(252,251,224,1) 90.2% );

}
.ultimas-aventuras{
    grid-column: 5/9;
    text-align: center;
    @include margin-top-bottom(30px, 20px);
    text-decoration: underline;
}
.carousell{
    grid-row: 4/7;
    grid-column: 5/9;
}
.contendeor-suspiros img{
    width:100%;
    height: 100%;
}
.contendeor-suspiros{
    grid-column: 2/12;
    grid-row: 3/8;
    margin-bottom: 80px;
}
.encontra-lugar{
    grid-column: 5/9;
    grid-row: 2/4;
    text-align: center;
}

/* ultimas excursiones realizado */

.ser-na{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(8,1fr);
    background-image: linear-gradient( 92.7deg,  rgba(245,212,212,1) 8.5%, rgba(252,251,224,1) 90.2% );
    height: 1000px;
}
.s-nac{
    grid-column: 5/10;
    grid-row: 1/11;
    margin-top: 20px;
    margin-bottom: 20px;
}
.img-na{
    grid-column: 1/4;
    grid-row: 3/5;
    margin: 10px;
}   
.img-nacio1{
    width: 180%;
    height: 140%;
    margin: 5px;
}
.img-cio{
    grid-column: 7/12;
    grid-row: 3/6;
    margin: 10px;
}
.img-nacio2{
    width: 110%;
    height: map-get($map: $margen, $key: "92%" );
    margin: 5px;
}
/* Servicios Nacionales */


.ser-in{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(8,1fr);
    background-image: linear-gradient( 92.7deg,  rgba(245,212,212,1) 8.5%, rgba(252,251,224,1) 90.2% );
    height: 1000px;
}
.s-int{
    grid-column: 4/10;
    grid-row: 1/11;
    margin: 25px;
}
.img-inter{
    grid-column: 1/4;
    grid-row: 3/5;
    margin: 10px;
}   
.img-inter1{
    width: 180%;
    height: 140%;
    margin: 5px;
}
.img-nacion{
    grid-column: 7/12;
    grid-row: 3/6;
    margin: 10px;
}
.img-inter2{
    width: 110%;
    height: map-get($map: $margen, $key: "92%");
    margin: 5px;
}
/* Servicios Internacionales */

.contenedor-contacto{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
    @extend %main-gradiante;
}
.titulo-encabezado{
    grid-column: 1/13;
    grid-row: 1/5;
}
.titulo-contacto{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
    color: rgba(28, 25, 25, 0.714);
}
.imag-center{
    width: 100%;
    height: 800px;
    margin: 2px 2px 2px 2px;
    padding: 20px;
}
.titulo-quien{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
    color: rgba(28, 25, 25, 0.714);
}
.visitanos-map{
    grid-column: 2/12;
    grid-row: 5/12;
}
.titulo-visitanos{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgba(28, 25, 25, 0.714);
}
.caja-linkmap{
    margin-top: 5px;
    margin-bottom: 5px;
}
.contenedor-formulario{
    grid-column: 5/12;
    grid-row: 7/12;
}
.formu-centrado{
    margin-top: 100px;
    text-align: center;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border: 0px;
    background-color: whitesmoke;
}
.elemento-de-formulario{
    width: 100%;
}


    @media screen and (min-width: 350px) and (max-width: 540px){
    .canvas-img{
        width: 250px;
    }
    .logo{
        display: none;
    }
    .img-logo{
        grid-row: 1/2;
        height: 100%;
        width: 100%;
    }
    .nav-bootstrap{
        display: block;
        margin: 20px;
    }
    .contenedor-header .navbar{
        display: block;
        grid-row: 2/3;
    }
    .barra-navegacion{
        width: 100%;
        height: 100%;
        grid-column: 1/1;
        grid-row: 2/3;
        font-size: 10px;
        margin: 0px;
        display: none;
    }
    }
    /*barra de navegacion*/

    @media screen and (min-width: 350px) and (max-width: 540px){
    .foot-cont{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-template-areas: 
        "der soci habi"
        ". imagg .";
    }
    .redes-sociales{
        grid-area: soci;
    }
    .img-redes{
        grid-area: imagg;
    }
    .derechos-reservados{
        grid-area: der;
    }
    .empresa-habilitada{
        grid-area: habi;
    }
    .social-red{
        text-align: center;
        margin-top: 5px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgba(13, 9, 9, 0.753);
        font-size: 10px;
    }
    .todoooos{
        text-align: center;
        margin-top: 5px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgba(13, 9, 9, 0.753);
        font-size: 10px;
    }
    .emh{
        text-align: center;
        margin-top: 5px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgba(13, 9, 9, 0.753);
        font-size: 10px;
    }
    .img-redes{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .immmg{
        width: 10px;
        height: 10px;
        }
    }
    /*footer*/

    @media screen and (min-width: 350px) and (max-width: 540px){
        .index-caja{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(4,1fr);
        grid-template-areas: 
        "carru carru carru"
        "carru carru carru"
        "carru carru carru";
        }
        .carru-center{
            grid-area: carru;
        }
        .caja-entera{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(12,1fr);
            grid-template-areas: 
            "imi1 imi1 imi1"
            "imi1 imi1 imi1"
            ". . ."
            "imi2 imi2 imi2"
            "imi2 imi2 imi2"
            ". . ."
            "imi3 imi3 imi3"
            "imi3 imi3 imi3"
            ". . ."
            "imi4 imi4 imi4"
            "imi4 imi4 imi4"
            ". . . ";
        }
        .caja1{
            grid-area: imi1;
        }
        .caja2{
            grid-area: imi2;
        }
        .caja3{
            grid-area: imi3;
        }
        .caja4{
            grid-area: imi4;
        }
    }
/*index*/

@media screen and (min-width: 540px) and (max-width: 720px) {
    .canvas-img{
        width: 250px;
    }
    .logo{
        display: none;
    }
    .img-logo{
        grid-row: 1/2;
        height: 100%;
        width: 100%;
    }
    .nav-bootstrap{
        display: block;
        margin: 20px;
    }
    .contenedor-header .navbar{
        display: block;
        grid-row: 2/3;
    }
    .barra-navegacion{
        width: 100%;
        height: 100%;
        grid-column: 1/1;
        grid-row: 2/3;
        font-size: 10px;
        margin: 0px;
        display: none;
    }
    /*barra nav*/

        .caja-entera{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        }
        /*index*/
        .foot-cont{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(2,1fr);
            grid-template-areas: 
            "der soci habi"
            ". imagg .";
        }
        .redes-sociales{
            grid-area: soci;
        }
        .img-redes{
            grid-area: imagg;
        }
        .derechos-reservados{
            grid-area: der;
        }
        .empresa-habilitada{
            grid-area: habi;
        }
        .social-red{
            text-align: center;
            margin-top: 5px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: rgba(13, 9, 9, 0.753);
            font-size: 10px;
        }
        .todoooos{
            text-align: center;
            margin-top: 5px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: rgba(13, 9, 9, 0.753);
            font-size: 10px;
        }
        .emh{
            text-align: center;
            margin-top: 5px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: rgba(13, 9, 9, 0.753);
            font-size: 10px;
        }
        .img-redes{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .immmg{
            width: 10px;
            height: 10px;
            }
        /*footer*/
}
/*index desde 540 hasta 720  */

@media screen and (min-width: 720px) and (max-width: 1250px) {
        .index-caja{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        .foot-cont{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(2,1fr);
            grid-template-areas: 
            "der soci habi"
            ". imagg .";
        }
        .redes-sociales{
            grid-area: soci;
        }
        .img-redes{
            grid-area: imagg;
        }
        .derechos-reservados{
            grid-area: der;
        }
        .empresa-habilitada{
            grid-area: habi;
        }
        .social-red{
            text-align: center;
            margin-top: 5px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: rgba(13, 9, 9, 0.753);
            font-size: 15px;
        }
        .todoooos{
            text-align: center;
            margin-top: 5px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: rgba(13, 9, 9, 0.753);
            font-size: 10px;
        }
        .emh{
            text-align: center;
            margin-top: 5px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: rgba(13, 9, 9, 0.753);
            font-size: 10px;
        }
        .img-redes{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .immmg{
            width: 10px;
            height: 10px;
            }
}

@media screen and (min-width: 350px) and (max-width: 540px){
    .contenedor-contacto{
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: repeat(3,1fr);
    }
    .titulo-encabezado{
        grid-column: 2/12;
        grid-row: 1;
    }
    .imag-center{
        width: 100%;
        height: 350px;
    }
    .visitanos-map{
        grid-column: 2/12;
        grid-row: 2;
    }
    .caja-linkmap{
        width: 100%;
        margin-top: 20px;
    }
    .contenedor-formulario{
        grid-column: 2/12;
        grid-row: 3;
    }
    .formu-centrado{
        width: 100%;
        margin-bottom: 5px;
    }
    
    .foot-cont{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(1,1fr);
    }
    .redes-sociales{
        display: none;
    }
    .img-redes{
        grid-column: 2;
        grid-row: 1;
        margin-top: 5px;
    }
    .derechos-reservados{
        grid-column: 1;
        grid-row: 1;
    }
    .empresa-habilitada{
        grid-column: 3;
        grid-row: 1;
    }
    /*contacto*/
}


@media screen and (min-width: 350px) and (max-width: 540px){
    .ser-na{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(6,1fr);
    }
    .s-nac{
        grid-column: 2/6;
        grid-row: 1/2;
    }
    .img-na{
        grid-column: 1/6;
        grid-row: 3/4;
    }
    .img-nacio1{
        height: 100%;
        width: 300px;
    }
    .img-cio{
        grid-column: 1/6;
        grid-row: 5/6;
    }
    .img-nacio2{
        height: 100%;
        width: 300px;
    }
    /*servicios nacionales*/
}

@media screen and (min-width: 720px) and (max-width: 1250px){
        .ser-na{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(6,1fr);
    }
    .s-nac{
        grid-column: 2/6;
        grid-row: 1/2;
    }
    .img-na{
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .img-nacio1{
        height: 100%;
        width: 300px;
    }
    .img-cio{
        grid-column: 4/6;
        grid-row: 3/4;
    }
    .img-nacio2{
        height: 100%;
        width: 300px;
    }
    .foot-cont{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-template-areas: 
        "tod rso emph"
        ". iiim .";
    }
    .redes-sociales{
        grid-area: rso;
    }
    .img-redes{
        grid-area: iiim;
    }
    .derechos-reservados{
        grid-area: tod;
    }
    .empresa-habilitada{
        grid-area: emph;
    }
    .todoooos{
        font-size: 20px;
    }
    .emh{
        font-size: 20px;
    }
}


@media screen and (min-width: 350px) and (max-width: 540px) {
    .ser-in{
        
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(6,1fr);
    }
    .s-int{
        
        grid-column: 1/6;
        grid-row: 1/2;
    }
    .img-inter{
        
        grid-column: 1/6;
        grid-row: 3/4;
    }
    .img-inter1{
        
        height: 100%;
        width: 300px;
    }
    .img-nacion{
        
        grid-column: 1/6;
        grid-row: 5/6;
    }
    .img-nacio2{
        
        height: 100%;
        width: 300px;
    }
    /*servicios internacionales */
}
@media screen and (min-width: 720px) and (max-width: 1250px){
    .ser-in{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,1fr);
}
.s-int{
    grid-column: 4/10;
    grid-row: 1/2;
}
.img-inter{
    grid-column: 1/5;
    grid-row: 3/3;
}
.img-inter1{
    height: 100%;
    width: 300px;
    margin-left: 40px;
}
.img-nacion{
    grid-column: 7/11;
    grid-row: 3/3;
}
.img-inter2{
    height: 100%;
    width: 300px;
}
.foot-cont{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    "tod rso emph"
    ". iiim .";
}
.redes-sociales{
    grid-area: rso;
}
.img-redes{
    grid-area: iiim;
}
.derechos-reservados{
    grid-area: tod;
}
.empresa-habilitada{
    grid-area: emph;
}
.todoooos{
    font-size: 20px;
}
.emh{
    font-size: 20px;
}
}
/*servicios internacionales */


@media screen and (min-width: 350px) and (max-width: 540px){
    .contenedor-main-nosotros{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(3,1fr);
    }
    .ultimas-aventuras{
        grid-column: 2/6;
        grid-row: 1;
    }
    .ultimas-aventuras .h1{
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        color: rgba(54, 50, 50, 0.877);
    }
    .encontra-lugar{
        grid-column: 2/6;
        grid-row: 2;
    }
    .carousell{
        grid-column: 2/6;
        grid-row: 3;
    }
    /* ultimas excursiones*/
}

@media screen and (min-width: 720px) and (max-width: 1250px){

    .contenedor-main-nosotros{
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: repeat(4,1fr);
    }
    .ultimas-aventuras{
        grid-column: 2/11;
        grid-row: 1;
    }
    .ultimas-aventuras .h1{
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        color: rgba(54, 50, 50, 0.877);
    }
    .encontra-lugar{
        grid-column: 2/11;
        grid-row: 2;
    }
    .carousell{
        grid-column: 2/11;
        grid-row: 3;
    }
    
}

@media screen and (min-width: 540px) and (max-width: 720px){
    .contenedor-main-nosotros{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(3,1fr);
    }
    .ultimas-aventuras{
        grid-column: 2/6;
        grid-row: 1;
    }
    .ultimas-aventuras .h1{
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        color: rgba(54, 50, 50, 0.877);
    }
    .encontra-lugar{
        grid-column: 2/6;
        grid-row: 2;
    }
    .carousell{
        grid-column: 2/6;
        grid-row: 3;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 720px) and (max-width: 1250px){
    .contenedor-main-nosotros{
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: repeat(3,1fr);
    }
    .ultimas-aventuras{
        grid-column: 2/6;
        grid-row: 1;
    }
    .ultimas-aventuras .h1{
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        color: rgba(54, 50, 50, 0.877);
    }
    .encontra-lugar{
        grid-column: 2/6;
        grid-row: 2;
    }
    .carousell{
        grid-column: 2/10;
        grid-row: 3;
        margin-bottom: 10px;
    }
}
